### 머신러닝 알고리즘 테스트용 데이터셋 생성

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

pd.set_option('display.max_columns', 20)
pd.set_option('display.max_colwidth', 20)
pd.set_option('display.unicode.east_asian_width', True)

import warnings
warnings.filterwarnings('ignore')

## 데이터 준비

In [3]:
fish = pd.read_csv('data/Fish.csv')
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
fish.tail()

    Species  Weight  Length1  Length2  Length3  Height   Width
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [5]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [6]:
fish['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [7]:
df = fish[['Species', 'Weight', 'Length2']]
df

    Species  Weight  Length2
0     Bream   242.0     25.4
1     Bream   290.0     26.3
2     Bream   340.0     26.5
3     Bream   363.0     29.0
4     Bream   430.0     29.0
..      ...     ...      ...
154   Smelt    12.2     12.2
155   Smelt    13.4     12.4
156   Smelt    12.2     13.0
157   Smelt    19.7     14.3
158   Smelt    19.9     15.0

[159 rows x 3 columns]

In [9]:
# Length2 -> Length
df.columns = ['Species', 'Weight', 'Length']
df.head()

  Species  Weight  Length
0   Bream   242.0    25.4
1   Bream   290.0    26.3
2   Bream   340.0    26.5
3   Bream   363.0    29.0
4   Bream   430.0    29.0

In [10]:
filter = df['Species'].isin(['Bream', 'Smelt'])
df = df.loc[filter]
df

    Species  Weight  Length
0     Bream   242.0    25.4
1     Bream   290.0    26.3
2     Bream   340.0    26.5
3     Bream   363.0    29.0
4     Bream   430.0    29.0
5     Bream   450.0    29.7
6     Bream   500.0    29.7
7     Bream   390.0    30.0
8     Bream   450.0    30.0
9     Bream   500.0    30.7
10    Bream   475.0    31.0
11    Bream   500.0    31.0
12    Bream   500.0    31.5
13    Bream   340.0    32.0
14    Bream   600.0    32.0
15    Bream   600.0    32.0
16    Bream   700.0    33.0
17    Bream   700.0    33.0
18    Bream   610.0    33.5
19    Bream   650.0    33.5
20    Bream   575.0    34.0
21    Bream   685.0    34.0
22    Bream   620.0    34.5
23    Bream   680.0    35.0
24    Bream   700.0    35.0
25    Bream   725.0    35.0
26    Bream   720.0    35.0
27    Bream   714.0    36.0
28    Bream   850.0    36.0
29    Bream  1000.0    37.0
30    Bream   920.0    38.5
31    Bream   955.0    38.5
32    Bream   925.0    39.5
33    Bream   975.0    41.0
34    Bream   950.0    41.0
145   Smelt     6.7     9.8
146   Smelt     7.5    10.5
147   Smelt     7.0    10.6
148   Smelt     9.7    11.0
149   Smelt     9.8    11.2
150   Smelt     8.7    11.3
151   Smelt    10.0    11.8
152   Smelt     9.9    11.8
153   Smelt     9.8    12.0
154   Smelt    12.2    12.2
155   Smelt    13.4    12.4
156   Smelt    12.2    13.0
157   Smelt    19.7    14.3
158   Smelt    19.9    15.0

In [13]:
def integer_encoding(x):
    if x == 'Bream':
        return 1
    else:
        return 0

In [14]:
# 분류하고자 하는 대상을 '1'로 지정하는 것이 좋다.
df['class'] = df['Species'].apply(integer_encoding)
df

    Species  Weight  Length  class
0     Bream   242.0    25.4      1
1     Bream   290.0    26.3      1
2     Bream   340.0    26.5      1
3     Bream   363.0    29.0      1
4     Bream   430.0    29.0      1
5     Bream   450.0    29.7      1
6     Bream   500.0    29.7      1
7     Bream   390.0    30.0      1
8     Bream   450.0    30.0      1
9     Bream   500.0    30.7      1
10    Bream   475.0    31.0      1
11    Bream   500.0    31.0      1
12    Bream   500.0    31.5      1
13    Bream   340.0    32.0      1
14    Bream   600.0    32.0      1
15    Bream   600.0    32.0      1
16    Bream   700.0    33.0      1
17    Bream   700.0    33.0      1
18    Bream   610.0    33.5      1
19    Bream   650.0    33.5      1
20    Bream   575.0    34.0      1
21    Bream   685.0    34.0      1
22    Bream   620.0    34.5      1
23    Bream   680.0    35.0      1
24    Bream   700.0    35.0      1
25    Bream   725.0    35.0      1
26    Bream   720.0    35.0      1
27    Bream   714.0    36.0      1
28    Bream   850.0    36.0      1
29    Bream  1000.0    37.0      1
30    Bream   920.0    38.5      1
31    Bream   955.0    38.5      1
32    Bream   925.0    39.5      1
33    Bream   975.0    41.0      1
34    Bream   950.0    41.0      1
145   Smelt     6.7     9.8      0
146   Smelt     7.5    10.5      0
147   Smelt     7.0    10.6      0
148   Smelt     9.7    11.0      0
149   Smelt     9.8    11.2      0
150   Smelt     8.7    11.3      0
151   Smelt    10.0    11.8      0
152   Smelt     9.9    11.8      0
153   Smelt     9.8    12.0      0
154   Smelt    12.2    12.2      0
155   Smelt    13.4    12.4      0
156   Smelt    12.2    13.0      0
157   Smelt    19.7    14.3      0
158   Smelt    19.9    15.0      0

In [15]:
df = df.reset_index()
df.drop('index', axis = 1, inplace = True)
df

   Species  Weight  Length  class
0    Bream   242.0    25.4      1
1    Bream   290.0    26.3      1
2    Bream   340.0    26.5      1
3    Bream   363.0    29.0      1
4    Bream   430.0    29.0      1
5    Bream   450.0    29.7      1
6    Bream   500.0    29.7      1
7    Bream   390.0    30.0      1
8    Bream   450.0    30.0      1
9    Bream   500.0    30.7      1
10   Bream   475.0    31.0      1
11   Bream   500.0    31.0      1
12   Bream   500.0    31.5      1
13   Bream   340.0    32.0      1
14   Bream   600.0    32.0      1
15   Bream   600.0    32.0      1
16   Bream   700.0    33.0      1
17   Bream   700.0    33.0      1
18   Bream   610.0    33.5      1
19   Bream   650.0    33.5      1
20   Bream   575.0    34.0      1
21   Bream   685.0    34.0      1
22   Bream   620.0    34.5      1
23   Bream   680.0    35.0      1
24   Bream   700.0    35.0      1
25   Bream   725.0    35.0      1
26   Bream   720.0    35.0      1
27   Bream   714.0    36.0      1
28   Bream   850.0    36.0      1
29   Bream  1000.0    37.0      1
30   Bream   920.0    38.5      1
31   Bream   955.0    38.5      1
32   Bream   925.0    39.5      1
33   Bream   975.0    41.0      1
34   Bream   950.0    41.0      1
35   Smelt     6.7     9.8      0
36   Smelt     7.5    10.5      0
37   Smelt     7.0    10.6      0
38   Smelt     9.7    11.0      0
39   Smelt     9.8    11.2      0
40   Smelt     8.7    11.3      0
41   Smelt    10.0    11.8      0
42   Smelt     9.9    11.8      0
43   Smelt     9.8    12.0      0
44   Smelt    12.2    12.2      0
45   Smelt    13.4    12.4      0
46   Smelt    12.2    13.0      0
47   Smelt    19.7    14.3      0
48   Smelt    19.9    15.0      0

In [16]:
df.to_csv('data/fish-data.csv', index =False)